<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../css/style.css">
        <style>
            small{
                color: red;
                background-color: rgba(255,0,0,.2)
            }
        </style>
    </head>
    <body>
        <% include ../partials/nav.ejs %>
        <h1 align="center">Login</h1> <small><%=message%></small>
        <form action="/auth/login" method="POST">
            Username: <input type="text" name="username"> <br>
            Password: <input type="password" name="password"> <br>
            <button type="submit">Login</button>
        </form>
        <section>
            <h3 align="center">Don't already have an account?</h3>
            <h3 align="center"><a href="/users/new">Sign up!</a></h3>
        </section>
    </body>
</html>