<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
    <% include ../partials/nav.ejs %>
    <h1 align="center">sucessfully logged out</h1><br>
    <h3 align="center"><a href="/auth/login">log back in</a></h3>
</body>
</html>