
<nav class="nav-bar">
    <a class="btn btn-primary" href="/" role="button">Home</a>
    <a class="btn btn-primary" href="/users" role="button">Users Index</a>
    <a class="btn btn-primary" href="/posts" role="button">Posts Index</a>
    
    
    <% if(!loggedIn){%>
        <a class="btn btn-primary" href="/auth/login" role="button">Log In</a>
        <%}%>
        <% if(loggedIn){%>
        <a class="btn btn-primary" href="/auth/logout" role="button">Log Out</a>
        <a class="btn btn-primary" href="/users/<%=userId%>/edit" role="button">Edit Profile</a>
        <%}%>
</nav>
