<!-- <nav>
    <a href="/">home</a>
    <a href="/users">users index</a>
    <a href="/posts">posts index</a>
    <% if(!loggedIn){%>
    <a href="/auth/login">log in</a>
    <%}%>
    <% if(loggedIn){%>
    <a href="/auth/logout">log out</a>
    <%}%>
</nav> -->
<nav>
    <a class="btn btn-primary" href="/" role="button">Home</a>
    <a class="btn btn-primary" href="/users" role="button">Users Index</a>
    <a class="btn btn-primary" href="/posts" role="button">Posts Index</a>
    
    
    <% if(!loggedIn){%>
        <a class="btn btn-primary" href="auth/login" role="button">Log In</a>
        <%}%>
        <% if(loggedIn){%>
        <a class="btn btn-primary" href="auth/logout" role="button">Log Out</a>
        <%}%>
</nav>
