



img {
    
    width: 500px;
    border: 2px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    margin: 10px;
    box-shadow: 8px 8px gray;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s
}

.obj:hover {opacity: 0.7}

h1 {
    color: Blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.btn {
    color: black
}

#new-post {
    align-content: center
}