.jumbotron {
    height:500px;
    overflow-y:scroll;
    width:50%;
    border: 5px;
    border-color: black;
    align: center
}
.title{
    font-family: 'Satisfy', cursive;
    font-size: 100px;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}
.jumbotron p {
    font-size: 20px;
    text-align: center
}
body{
    background-image: url('../images/bikechain.png');
    background-size: 50%;
}

.vertical-center {
    min-height: 100%;  
    min-height: 100vh; 
  
    display: flex;
    align-items: center;
  }
  

.nav-bar {
    display: flex;
    justify-content: center;
}

form {
    margin: 0 auto;
    width:300px
}

ul {
    list-style-type: none;
}

img {
    
    width: 500px;
    border: 2px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    margin: 10px;
     
}

#post-pic {
    transition: border-width 0.3s linear; 
}

#post-pic:hover {
    border-width: 10px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}


h1, h2, h3 {
    color: rgb(245, 179, 12);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

.btn {
    color: white
}

#new-post {
    align-content: center
}

#input {
    align-items: center
}
#profile-pic{
    height: 10em ;
    width: 10em ;
    border-style: solid;
    object-fit: cover;
}
.thumbnail{
    background-color: rgba(255, 255, 255, 0.514);

}
.caption {
    padding: 0;
}

.new-post {
    display: block;
    margin: 0 auto
}

.post-head * {
    display: inline-block
}

.post-head #profile-pic {
    height: 3em;
    width: 3em
}

#user-name {
    font-size: 40px
}