<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <% include ../partials/nav.ejs %>
    <h1>users index page</h1>
    <ul>
    <% for(let i = 0; i < users.length; i++){%>
        <li><a href="/users/<%=users[i]._id%>"><%=users[i].username%></a></li>
    <%}%>  
    </ul>
</body>
</html>