<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <% include ../partials/nav.ejs %>
    <h1>Choose Photos for Upload</h1>
    <input type="file" id="input" accept="image/*" onchange="handleFiles(this.files)">
    <script>
        const inputElement = document.getElementById("input");
        inputElement.addEventListener("change", handleFiles, false);
        function handleFiles(){
            const userUpload = this.files[0];
            const img = document.createElement("img");
            img.file = userUpload;
            document.body.appendChild(img);
            const reader = new FileReader();
            reader.onload = function (e){
                img.src = e.target.result;
                const formInput = document.getElementById("userUpload");
                formInput.value = e.target.result
            }; 
            reader.readAsDataURL(userUpload);
        };
    </script>
    <form action="/posts" method="POST" id="new-post">
        <input id="userUpload" type="hidden" name="img" >
        <input type="submit" value="post">
    </form>
</body>
</html>