<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <% include ../partials/nav.ejs %>
    <main>
        <h2><%=post.caption%></h2>
        <a href="/users/<%=post.user._id%>"><h2><%=post.user.username%></h2></a>
        <img src="<%=post.img%>" style="width: 90%"></a>


    </main>
    

</body>
</html>